body {
    background-color: $light-gray;
    display: grid;
    grid-template: 1fr 497px 1fr / 1fr 320px 1fr;
    height: 100vh;
    font-family: $font;
}
footer {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}